.navbar{
background-color: rgba(102, 16, 83, 0.698);
height: 50px;
color:white;
display: flex;
align-items: center;
justify-content:space-around;
}


.logo{
    font-weight: bold;
    font-size: 20px;
}
.list{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content:center;
}

.listItem{
    margin-right: 20px;
    cursor: pointer;
    font-weight: 500;

}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    object-fit: cover;
}